<div ng-show="vm.selected === list.listName" ng-repeat="list in vm.lists">
    <div class="header">
        <p class="headerText">List - {{list.listName}}</p>
    </div>
    <form ng-submit="vm.addTask(list, vm.newTask)">
        <input class="fullInput" placeholder="New Task Name" ng-model="vm.newTask">
        <button class="fullButton" type="submit">Add Task</button>
    </form>
    <div ng-repeat="task in list.taskLists">
        <div ng-class="task.deleting === true ? 'deleted': 'elementDiv'">
            <div class="childDiv">
                <img ng-click='vm.markComplete(task);' class='icon' ng-src="{{task.icon}}"/>
                <span class="name">{{task.taskName}}</span>
            </div>
            <div class='childDiv'>
                <button class="edit" ng-click="vm.openEdit(task);">Edit</button>
                <img class='icon delete' ng-click="vm.delete(task, list);" src="../images/icons/delete.png"/>
            </div>
        </div>
        <div ng-show="vm.selectedTask === task.taskName">
            <form ng-submit="vm.edit(task, vm.newName);">
            <input class="editInput" placeholder="Edit Task Name Here" ng-model="vm.newName">
            <button class="editInputButton" type="submit">Update</button>
            </form>
        </div>
    </div>
    <button class="clearButton" ng-click="vm.clearCompleted(list)">Clear Completed Tasks</button>
</div>
<button class="backButton" ui-sref="list">Back to Lists</button>
